<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="rangeFromControl" [rangePicker]="dateRangepicker">
    <input #matStartDate matStartDate formControlName="start" placeholder="Start date">
    <input #matEndDate matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="dateRangepicker"></mat-datepicker-toggle>
  <mat-date-range-picker #dateRangepicker></mat-date-range-picker>

  <mat-error *ngIf="rangeFromControl.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="rangeFromControl.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
